################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Framework.Helpers/bin
/Framework.Helpers/obj
/Framework.Uno/bin
/Framework.Uno/obj
/FrameworkInterfaces/bin
/FrameworkInterfaces/obj
/UnoGeometryIssues/UnoGeometryIssues.Droid/bin
/UnoGeometryIssues/UnoGeometryIssues.Droid/obj
/UnoGeometryIssues/UnoGeometryIssues.UWP/bin
/UnoGeometryIssues/UnoGeometryIssues.UWP/obj
/UnoGeometryIssues/UnoGeometryIssues.Wasm/bin
/UnoGeometryIssues/UnoGeometryIssues.Wasm/obj
/ViewModelInterfaces/bin
/ViewModelInterfaces/obj
/ViewModels/bin
/ViewModels/obj
/UnoGeometryIssues/UnoGeometryIssues.Wasm/UnoGeometryIssues.Wasm.csproj.user
/UnoGeometryIssues/UnoGeometryIssues.iOS/obj

